body{
    display: inline;
    font-family:Arial, Helvetica, sans-serif;
    text-transform: capitalize;
}
h1 {
    text-align: center;
}
.page{
    width:100%;
    display: inline-block;
}
#content{
    width : 800px;
    margin: 0 auto;

}
h2 {text-align: center; 
    background : #ffb6c1;
    color: #fff;
    text-align: center;
    border-radius: 10px;
    font-family: 'Pacifico', cursive;
    font-size: 25px;
}
li  {
    list-style-type: none;
}
img {
    width: 200px;
    float: left;
    position: absolute;
    margin-top: 20px;
    margin-left: -220px;
    border-radius: 20px;
}